<ion-header>
  <ion-toolbar>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="message-container">
    <div 
      *ngFor="let msg of messages" 
      class="message"
      [ngClass]="msg.from_user === userId ? 'me' : 'other'"
    >
      {{ msg.message }}
    </div>
  </div>

</ion-content>

<ion-footer>
  <ion-item>
    <ion-input [(ngModel)]="newMessage" placeholder="Escribe un mensaje..."></ion-input>
    <ion-button (click)="send()">Enviar</ion-button>
  </ion-item>
</ion-footer>

