<ion-content class="register-background">

  <div class="container">
    <div class="register-card">

      <h1 class="title">Crear Cuenta</h1>
      <p class="subtitle">Regístrate para continuar</p>

      <!-- Mensaje de éxito -->
      <div *ngIf="success" class="success-message">
        <p>{{ message }}</p>
      </div>

      <form *ngIf="!success" (ngSubmit)="registrar()">

         <ion-item class="input-item">
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-input type="text" placeholder="Nombre completo" [(ngModel)]="nombres" name="nombres" required></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-input type="email" placeholder="Correo electrónico" [(ngModel)]="email" name="email" required></ion-input>
        </ion-item>

         <ion-item class="input-item">
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-input type="tel" placeholder="Teléfono" [(ngModel)]="telefono" name="telefono" required></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-input type="password" placeholder="Contraseña" [(ngModel)]="password" name="password" required></ion-input>
        </ion-item>

        <ion-button expand="block" class="btn-register" type="submit" [disabled]="loading">
          {{ loading ? 'Creando cuenta...' : 'Crear cuenta' }}
        </ion-button>

      </form>

      <p class="footer-text">
        ¿Ya tienes una cuenta?
        <a routerLink="/login">Inicia sesión aquí</a>
      </p>

    </div>
  </div>

</ion-content>

