<ion-header>
  <ion-toolbar>
    <ion-title>{{ id ? 'Editar Plan' : 'Crear Plan' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label position="stacked">Nombre</ion-label>
    <ion-input [(ngModel)]="nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Precio</ion-label>
    <ion-input type="number" [(ngModel)]="precio"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Descripción</ion-label>
    <ion-textarea rows="4" [(ngModel)]="descripcion"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label>Imagen</ion-label>
    <input type="file" (change)="onFileSelect($event)" />
  </ion-item>

  <ion-button expand="full" class="ion-margin-top" (click)="guardar()">
    Guardar
  </ion-button>

</ion-content>
