<ion-tabs>
  <ion-tab-bar slot="bottom">
    <!-- Visible para todos -->
    <ion-tab-button tab="planes">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Planes</ion-label>
    </ion-tab-button>

    <!-- Usuario Registrado -->
    <ion-tab-button *ngIf="role === 'usuario_registrado'" tab="mis-contrataciones">
      <ion-icon name="receipt-outline"></ion-icon>
      <ion-label>Mis planes</ion-label>
    </ion-tab-button>

    <!-- Chat -->
    <ion-tab-button *ngIf="role !== 'invitado'" tab="chat">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>

    <!-- Asesor -->
    <ion-tab-button *ngIf="role === 'asesor_comercial'" tab="dashboard-asesor">
      <ion-icon name="briefcase-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
