<ion-content class="inicio-background">

  <div class="container">

    <h1 class="title">Bienvenido a Tigo</h1>
    <p class="subtitle">Descubre nuestros planes móviles</p>

    <ion-button expand="block" class="btn-invitado" routerLink="/tabs/planes">
      Explorar como invitado
    </ion-button>

    <ion-button expand="block" class="btn-login" routerLink="/login">
      Iniciar sesión
    </ion-button>

    <ion-button expand="block" fill="outline" class="btn-register" routerLink="/registro">
      Registrarse
    </ion-button>

  </div>

</ion-content>

