.inicio-background {
  --background: #f6f7fb;
  text-align: center;
}

.container {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.logo {
  width: 140px;
  margin-bottom: 30px;
}

.title {
  font-size: 28px;
  font-weight: 700;
  color: #0033a0;
}

.subtitle {
  margin-top: -5px;
  margin-bottom: 40px;
  color: #555;
  font-size: 16px;
}

.btn-invitado {
  --background: #0033a0;
  margin-bottom: 14px;
  width: 90%;
  height: 48px;
  border-radius: 14px;
  font-weight: bold;
}

.btn-login {
  --background: #009fe3;
  margin-bottom: 14px;
  width: 90%;
  height: 48px;
  border-radius: 14px;
  font-weight: bold;
}

.btn-register {
  --border-color: #0d2833;
  --color: #1d5168;
  width: 90%;
  height: 48px;
  border-radius: 14px;
  font-weight: bold;
}
